<div class="container">
  <form #myForm="ngForm" enctype="multipart/form-data" novalidate (ngSubmit)="save(myForm.value, myForm.valid)">
    <div>
      <label>Username:</label>
      <input type="text" name="uName" #uName="ngModel" [(ngModel)]="userName" required minlength="4" />
      <span style="color: red;" [hidden]="uName.valid || (uName.pristine && !myForm.submitted)">Username is required and should be minimum 4 characters</span>
    </div>
    <div>
      <label>Avatar:</label>
      <kendo-upload required
        name="myUpload" #myUpload="ngModel"
        [saveUrl]="uploadSaveUrl"
        [removeUrl]="uploadRemoveUrl"
        [restrictions]="myRestrictions"
        (success)="onSuccess($event)"
        (upload)="onUpload($event)"
        (remove)="onRemove($event)"
        [(ngModel)]="userImages">
      </kendo-upload>
      <span style="color: red;" [hidden]="myUpload.valid || (myUpload.pristine && !myForm.submitted)">Uploading an avatar is required</span>
    </div>
    <button type="submit">Submit</button>
  </form>
  <div>Is form valid: {{ myForm.valid }}</div>
  <div>Is form submitted: {{ myForm.submitted }}</div>
  <hr />
  <div *ngIf="results">
    <div>Username: {{ uploadedBy }}</div>
    <div>URL: <a href="{{uploadedImageUrl}}" target="_blank">{{uploadedImageUrl}}</a></div>
    <div>UID: {{ uploadedImageUid }}</div>
  </div>
</div>